{% extends 'just_do_it/base.html' %}

{% block title_block %}
	Helper
{% endblock %}

{% block body_block %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-6">
				<hr>
				<h3> Мои цели </h3>
				<button>Добавить</button>
				<a href="{% url 'target_archive' %}">Архив</a>
				<hr>
				{% if targets %}
				
					
					{% for target in targets %}
						<div class="accordion" id="accordionTarget">
							<div class="card">
								<button class="btn  text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<div class="card-header">
										{{ target }} {{ target.start_date }} - {{ target.finish_date}}
									</div>
								</button>								
								
								<div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionTarget">
									<div class="list-group">
										<form method="POST" action="{% url 'target_processing' target.id %}">
											{% csrf_token %}
											{% for task in target.task_set.all %}
												<div class="card-body">
													<div class="d-flex w-100 justify-content-between">
														<input type="checkbox" name="{{ task.id }}" id="{{ task.id }}" {% if task.complete is True %} checked="checked" {% endif %}>
													    <h6 class="mb-1 text-left">{{ task.title }}</h6>
														<small>{{ task.start_date }} - {{ task.finish_date }}</small>
												    </div>
												</div>
											{% endfor %}
											<input class="btn btn-primary" type="submit">
										</form>
									</div>
									
								</div></div>
								
						</div>
					{% endfor %}
					
				
				{% else %}
					Поставь себе цель и иди к ней;)
				{% endif %}
			</div>
		

			<div class="col-6">
				<hr>
				<h3> Мои дела </h3>
				<button>Добавить</button>
				<a href="{% url 'target_archive' %}">Архив</a>
				<hr>
				{% if tasks %}
					{% for task in tasks %}
						{{ task }} <br/>
					{% endfor %}
				{% else %}

				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}